/*Variables*/
$blue: #0078D7;
$blueDark: #2073B8;
$blueDark2: #0E60A3;
$blueDark3: #054C85;


/*General*/
body, .v-application{
  font-family: Arial, serif !important;
}

small {
  font-size: 60% !important;
}
.relative{
  position: relative;
}
.m6_title{
  font-size: 2rem;
  line-height: 2.31rem;
  font-weight: normal;
}
.m6_bottom{
  bottom:0;
}
.m6_right{
  right: 0;
}
.m6_tag_absolute{
  position: absolute;
}
.m6_double_arrow{
  position: absolute;
  top:45px;
}

/* Custom Class for colors*/

.m6_bg_blue{
  background-color: $blue ;
}
.m6_color_blue{
  color: $blue;
}

.m6_bg_blue--darken-1{
  background-color: $blueDark;
}
.m6_color_blue--darken-1{
  color: $blueDark;
}

.m6_bg_blue--darken-2{
  background-color: $blueDark2;
}
.m6_color_blue--darken-2{
  color: $blueDark2;
}

.m6_bg_blue--darken-3{
  background-color: $blueDark3;
}
.m6_color_blue--darken-3{
  color: $blueDark3;
}

.m6_dark{
  color:#FAFAFA;
}

/*Breadcrumb styles*/
.m6_breadcrumb{
  background: rgba(123,123,123,1);
  background: -moz-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(0,0,0,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(123,123,123,1)), color-stop(100%, rgba(0,0,0,1)));
  background: -webkit-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(0,0,0,1) 100%);
  background: -o-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(0,0,0,1) 100%);
  background: -ms-linear-gradient(left, rgba(123,123,123,1) 0%, rgba(0,0,0,1) 100%);
  background: linear-gradient(to right, rgba(123,123,123,1) 0%, rgba(0,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#000000', GradientType=1 );

  p {
    margin: 0 0 0 15px;
    color: #fff;
  }
}

/*Buttons styles*/
.m6_btn_xs{
  width: 2rem !important;
  height: 2rem !important;
}
/*Gradients*/
.m6_gradient_blue{
  background: transparent radial-gradient(closest-side at 50% 50%, #4CAAF2 0%, #06487B 100%) 0 0 no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
.m6_gradient_green{
  background: transparent radial-gradient(closest-side at 50% 50%, #069C06 0%, #034E03 100%) 0 0 no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
.m6_gradient_orange{
  background: transparent radial-gradient(closest-side at 50% 50%, #F2C04C 0%, #7B4806 100%) 0 0 no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}
.m6_gradient_red{
  background: transparent radial-gradient(closest-side at 50% 50%, #C70A24 0%, #770314 100%) 0 0 no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

/*Icons styles*/
.m6_icon_bold {
  font-weight: bold;
}
.m6_icon_xs{
  font-size:14px !important;
}

/*Contact List*/
.m6_contact_list{
  .m6_contact_list_body{
    position: relative;
    i{
      position: absolute;
      top: 25%;
      right:10px;
    }
    p{
      font-size:12px;
    }
  }
}

/*Banners*/
.m6_banner_dark{
  background-color: #121212;
  color: #fff;
}

/* Dropdown */
.m6_dropdown{
  h2{
    font-size: 2.1875rem;
    color:#fff;
    font-weight: bold;
    &:before {
        content: "";
    }
  }
}

/*Swiper*/
.m6_swiper-buttons {
  margin-top:0 !important;
  height: 100% !important;
  top:0 !important;
  background-color: rgba(0,0,0,.6);
}

.m6_swiper-button-prev{
    left:0 !important;
}
.m6_swiper-button-next{
  right:0 !important;
}

/* Widgets */
.m6_widget_icon{
  min-height: 7rem;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin: 10px;
  flex: 0 1 110px !important;
  i{
    font-size: 3rem;
  }
}


