$border-color: #dddddd;

.border-1 {
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
}

.height-100-vh {
  height: 100vh;
}

.vertical-scroll {
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

.dont-show-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dont-show-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.text-style {
  background-color: white;
  line-height: 1.5;
  color: #4d4e53;
}
.float-button {
  background-color: #ffffffa8;
  position: sticky;
  z-index: 1;
  top: 8vh;
}
.cursor-hover:hover{
  cursor: pointer;
}
.underline:hover{
  text-decoration: underline;
}
.comment-btn{
  color: #65676b;
  font-weight: bold;
  font-size: 12px;
}

.inline{
  display: inline-block;
}

.comment-text{
  font-size: 9.4 rem;
  color: #010416!important;
  line-height: 1.3333!important;
}
.comment-user-text{
  font-size: 8.1 rem!important;
  color: #010416!important;
  line-height: 1.2308!important;
  font-weight: 600;

}
.timestamp{
  font-size:12px;
  color: #65676b;
}