$border-color: #dddddd;

.border-1 {
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
}

.height-100-vh {
  height: 100vh;
}

.vertical-scroll {
  overflow-y: scroll;
}

.pointer {
  cursor: pointer;
}

.dont-show-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dont-show-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
