$border-color: #dddddd;

.border-1 {
  border-width: 1px;
  border-color: $border-color;
  border-style: solid;
}

.height-100-vh {
  height: 100vh;
}

.vertical-scroll {
  overflow-y: scroll;
}

.dont-show-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dont-show-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.text-style {
  background-color: white;
  line-height: 1.5;
  color: #4d4e53;
}
.float-button {
  background-color: #ffffffa8;
  position: sticky;
  z-index: 1;
  top: 8vh;
}
.cursorhover:hover{
  cursor: pointer;
}
.rotate:hover{
  transform: rotate(-90deg);
  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.full-rotate{
  transform: rotate(-180deg);
  /* Safari */
  -webkit-transform: rotate(-180deg);

  /* Firefox */
  -moz-transform: rotate(-180deg);

  /* IE */
  -ms-transform: rotate(-180deg);

  /* Opera */
  -o-transform: rotate(-180deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=6);
}